---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*.bg-container{
  margin-top: 30px;
}*/

.bg-nav{
  padding: 10px;
  background-color:black;
}

.bg-article-title{
  font-size: 26px;
}

.bg-navbar-nav>li>a{
  color:#666;
}

.bg-navbar-nav>li>a:hover{
  background:none;
  color:white;
}
