---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*.bg-container{
  margin-top: 30px;
}*/

.bg-nav{
  padding: 10px;
  background-color:black;
}

.bg-article-title{
  font-size: 26px;
}

.bg-navbar-nav>li>a, .uk-navbar-brand{
  color:#666;
  text-shadow: none;
}

.bg-navbar-nav>li>a:hover, .uk-navbar-brand:hover{
  background:none;
  color:white;
}

.img-small{
  height: 100px;
}

.img-medium{
  height: 200px;
}

.img-large{
  height: 300px;
}
