---
layout: default
---

<h1>{{ site.data.curriculum.studies.title }}</h1>

{% for studies in site.data.curriculum.studies.info %}
  <ul class="pricing-table">
    <li class="title">{{ studies.name }}</li>
    <li class="price">{{ studies.style }}</li>
  </ul>
{% endfor %}

<h1>{{ site.data.curriculum.experience.title }}</h1>

{% for experience in site.data.curriculum.experience.info %}
<ul class="pricing-table">
  <li class="title">{{ experience.name }}</li>
  <li class="price">{{ experience.style }}</li>
</ul>
{% endfor %}

<h1>{{ site.data.curriculum.languages.title }}</h1>

{% for language in site.data.curriculum.languages.info %}
<ul class="pricing-table">
  <li class="title">{{ language.name }}</li>
  <li class="price">{{ language.level }}</li>
</ul>
{% endfor %}
