---
layout: default
---

<h1>{{ site.data.curriculum.studies.title }}</h1>

<article class="uk-article">
  {% for studies in site.data.curriculum.studies.info %}
    <h2 class="bg-article-title uk-article-title">{{ studies.name }}</h2>
    <p class="uk-article-lead">{{ studies.style }}</p>
    <hr class="uk-article-divider">
  {% endfor %}
</article>


<h1>{{ site.data.curriculum.experience.title }}</h1>

<article class="uk-article">
  {% for experience in site.data.curriculum.experience.info %}
    <h2 class="bg-article-title uk-article-title">{{ experience.name }}</h2>
    <p class="price">{{ experience.style }}</p>
    <hr class="uk-article-divider">
  {% endfor %}
</article>

<h1>{{ site.data.curriculum.languages.title }}</h1>

<article class="uk-article">
  {% for language in site.data.curriculum.languages.info %}
    <h2 class="bg-article-title uk-article-title">{{ language.name }}</h2>
    <p class="price">{{ language.level }}</p>
    <hr class="uk-article-divider">
  {% endfor %}
</article>
