<nav class="uk-navbar bg-nav">
  <div class="uk-container uk-container-center">
      <!-- Small screen -->
      <a href="#off-menu" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
      <a href="/index.html" class="uk-navbar-brand uk-visible-small uk-navbar-center">AlexBG</a>
      <!-- Large screen -->
      <a href="/index.html" class="uk-navbar-brand uk-hidden-small">AlexBG</a>
      <ul class="uk-navbar-nav bg-navbar-nav uk-hidden-small">
        <li><a href="/projects">Proyectos</a></li>
      </ul>
  </div>
</nav>

<div id="off-menu" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-offcanvas uk-nav-side">
        <li class="uk-parent"><a href="/index.html">Index</a></li>
        <li class="uk-parent"><a href="/projects">Proyectos</a></li>
      </ul>
    </div>
</div>
