<!-- Muestro la informacion de mi perfil. Es un include y esta en default -->
<div data-alert class="alert-box alert text-center">
  STILL UNDER CONSTRUCTION
  <!--<a href="#" class="close">&times;</a>-->
</div>
<aside class="small-3 columns">
  <ul class="pricing-table">
    <!--<li class="title">Alejandro Barata Gonzalez</li>-->
    <li class="price">
      <div class="th [radius]" href="#">
        <img src="assets/img/profile.jpg" alt="img-profile">
      </div>
    </li>
    <!--<li class="description">An awesome description</li>-->

    <li class="bullet-item">Alejandro Barata</li>
    <li class="bullet-item"><a href="mailto:AlejandroBarataG@gmail.com">{{ site.email }}</a></li>
    <li class="bullet-item">España</li>
    <li class="bullet-item">Madrid</li>
    <li class="bullet-item"><a href="https://github.com/alexbg">GitHub</a></li>
    <!--<li class="cta-button"><a class="button" href="#">Contact</a></li>-->
    <li class="bullet-item"><a href="https://www.infojobs.net/candidate/cv/view/employer-view.xhtml?dgv=2519286746748873917&codiCv=a3ada294-5b7b-4fc3-bcc8-6c2fb56d68c7">Curriculum</a></li>
  </ul>
</aside>
