<!-- Muestro la informacion de mi perfil. Es un include y esta en default -->
<div data-alert class="alert-box alert text-center">
  STILL UNDER CONSTRUCTION
  <!--<a href="#" class="close">&times;</a>-->
</div>
<aside class="small-3 columns">
  <ul class="pricing-table">
    <!--<li class="title">Alejandro Barata Gonzalez</li>-->
    <li class="price">
      <div class="th [radius]" href="#">
        <img src="assets/img/profile.jpg" alt="img-profile">
      </div>
    </li>
    <!--<li class="description">An awesome description</li>-->

    <li class="bullet-item">Alejandro Barata Gonzalez</li>
    <li class="bullet-item"><a href="mailto:alexbgdev@gmail.com">Alexbgdev@gmail.com</a></li>
    <!--<li class="cta-button"><a class="button" href="#">Contact</a></li>-->
  </ul>
</aside>
