<div class="uk-panel uk-panel-box">

  <div class="uk-panel-teaser">
    <figure class="uk-overlay uk-overlay-hover">
      <img src="https://avatars1.githubusercontent.com/u/1533561?v=3" alt="img-profile" class="uk-hidden-small">
      <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom uk-text-center">Alejandro Barata</figcaption>
    </figure>
  </div>

  <dl class="uk-description-list-line">
    <dt>Nombre:</dt>
    <dd>Alejandro Barata</dd>

    <dt>Email:</dt>
    <dd><a href="mailto:AlejandroBarataG@gmail.com">Contactar</a></dd>

    <dt>Pais:</dt>
    <dd>España</dd>

    <dt>Ciudad:</dt>
    <dd>Madrid</dd>

    <dt>Github:</dt>
    <dd><a href="https://github.com/alexbg">GitHub</a></dd>

    <dt>Curriculum:</dt>
    <dd></dd>
  </dl>
</div>
