.border-pink
  border-color: $border-pink !important

.border-bottom-large
  border-bottom-width: $border-width-large !important

.border-bottom-medium
  border-bottom-width: $border-width-medium !important