.card
  padding: 15px
  @include media-breakpoint-up(md)
    &.card-border
      border-left: 4px solid #d9376e;
  .card-header
    border: 0
    background-color: inherit
  .card-footer
    border: 0
    background-color: inherit
