// GLOBAL
// $font-family-base: 'Roboto', sans-serif

// Colors
$orange: #ff8e3c !default
$pink: #d9376e

// Border
$border-pink: $pink !default
$border-width-large: 5px !default
$border-width-medium: 3px !default
  
// Card
$card-border-width: 0 !default
$card-border-radius: 0 !default

// List-group
$list-group-border-width: 0 !default
$list-group-item-padding-y: 1rem !default
$list-group-item-padding-x: 1rem !default
$list-group-hover-bg: #ff8e3c !default
$list-group-action-hover-color: white !default